/* Set this global variable to change the colour theme everywhere */
:root {
  --colour-theme:blue;
}

body {
  padding:10%;
  padding-top: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:2vw;
  /* Makes the text the full width of the screen */
  text-align: justify;
}

h1 {
  color:var(--colour-theme);
  font-size:10vw;
}

h2 {
  color: var(--colour-theme);
  font-size:4.5vw;
}

h3 {
  color:var(--colour-theme);
}

#name{
  padding-top: 10%;
  font-family: 'Ms Madi';
}


.blog-list{
  list-style-type: none;
  margin-top: 15px;
}

/* Hides the default blue and underline */
a {
  text-decoration: none;
  color: var(--colour-theme);
}

/* Highlight a line underneath links */
a:hover {
  text-decoration: underline;
}

img {
  width:60vw;
  /* centers the images */
  display: block;
  margin-left: auto;
  margin-right: auto;
}